@using Steam.Models
@using System.Data;
@using System.Web.UI.WebControls;
@model Games
<link href="~/Content/Store.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{
    ViewBag.Title = "Store";
    Account account = (Account)Session["Account"];
}

<h2>Store</h2>

<table class="table">
    <tr>
        <td></td>
        <td><a href="@Url.Action("Compare", "Store", new { comparer = "naam"} )">Naam</a></td>
        <td><a href="@Url.Action("Compare", "Store", new { comparer = "prijs"} )">Prijs</a></td>
        <td><a href="@Url.Action("Compare", "Store", new { comparer = "sterren"} )">Sterren</a></td>
    </tr>
    
    @foreach (Game game in Model.games)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Store", new { id = game.ID} )"><img src=@game.IMGUrl height="150"></a>
            </td>
            <td>
                @game.Naam
            </td>
            <td>
                €@game.Prijs
            </td>
            <td>
                @game.Sterren
            </td>
            @if (account is Beheerder)
            {
                <td>
                    @using (Html.BeginForm("DeleteGame", "Store", new { id = game.ID }))
                    {
                    <button type="submit" class="btn btn-default">Delete</button>
                    }
                </td>
            }
        </tr>
        
    }
</table>

<div id="categorie">
    <h3>Categorieën</h3>
    <a href="@Url.Action("CheckCategorie", "Store", new { categorie = "geen"})">Geen filter</a><br>
    <a href="@Url.Action("CheckCategorie", "Store", new { categorie = "actie"})">Actie</a><br>
    <a href="@Url.Action("CheckCategorie", "Store", new { categorie = "avontuur"})">Avontuur</a><br>
    <a href="@Url.Action("CheckCategorie", "Store", new { categorie = "fps"})">FPS</a><br>
    <a href="@Url.Action("CheckCategorie", "Store", new { categorie = "shooter"})">Shooter</a><br>
    <a href="@Url.Action("CheckCategorie", "Store", new { categorie = "strategie"})">Strategie</a><br>
</div>